body {
    font-family: sans-serif;
}



.container {
    border: 10px solid white;
    margin: auto;
    max-width: 450px;
    height: 90vh;
    width: 40%;
    background-color: #0a1929;

    
}

.main {
    border: 5px solid white;
    ;
    height: 10vh;
    color: white;
    background-color: 	#0000FF;
    
}

.info {
    border: 5px solid white;
    height: 30vh;
    width: 350px;
    margin: auto;
    position: absolute center;
    margin-top: 20vh;
}

.login {
    border: 5px solid white;
    height: 10vh;
    width: 150px;
    bottom: 70px;
    margin-left: 100px;
    position: absolute;
}
    
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0000ff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

